* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 18px;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

#container {
  height: 550px;
  width: 500px;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  background-color: grey;
  text-align: center;
}

#main {
  height: 500px;
  width: 450px;
  border: 5px solid;
  color: white;
}

#main h1 {
  font-size: 36px;
  margin-top: 10px;
}

#main h3 {
  padding-right: 10px;
  text-align: right;
}

#addTaskWrapper {
  margin-bottom: 15px;
}

#items {
  margin-left: 30px;
  height: 75%;
  width: 90%;
  overflow: auto;
}

#items::-webkit-scrollbar {
  width: 5px;
}
#items::-webkit-scrollbar-thumb {
  background-color: #f1f1f1;
  border-radius: 5px;
}
#items::-webkit-scrollbar-track {
  background-color: #888;
}

#addTask {
  height: 30px;
  width: 30px;
  margin: 5px;
  padding: 5px;
  border: none;
  border-radius: 50%;
}

ul li {
  margin-bottom: 15px;
  list-style-type: square;
  border-bottom: 3px solid;
  text-align: left;
}

#title {
  text-align: center;
  font-size: inherit;
  width: 100%;
  background: grey;
  border: none;
  outline: none;
  box-shadow: none;
  color: white;
  cursor: pointer;
}

/* input {
  width: 100%;
  background: grey;
  border: none;
  outline: none;
  box-shadow: none;
  color: white;
  cursor: pointer;
} */

#task {
  height: 30px;
  width: 350px;
  border: none;
  border-radius: 2px;
  padding: 10px;
}
